RuidoRosa/data/animSeq.json.sb-21c4a54f-SyDIRt/688687800.648432
RuidoRosa/data/animSeq.json.sb-21c4a54f-SyDIRt/688690777.916885
RuidoRosa/data/animSeq.json.sb-21c4a54f-SyDIRt/data
RuidoRosa/data/animSeq.json.sb-21c4a54f-SyDIRt/metaData
RuidoRosa/data/animSeq.sjson/688691731.517883
RuidoRosa/data/animSeq.sjson/data
